body {
    margin: 0;  
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    margin: 0;
    font: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 300px;
    min-height: 500px;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 0 0 15px 0px #d5d5d5;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.caption {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #d5d5d5;
}


/* Checkbox */


.checkbox {
    position: relative;
    padding-left: 1.2em;
    min-height: 1em;
    margin-bottom: 0.5em;
}

.checkbox__input {
    vertical-align: middle;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.checkbox__text {
    vertical-align: bottom;
}

.checkbox__input:checked ~ .checkbox__icon {
    background-color: #2196f3;
    background-image: url('./arrow.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.checkbox__input:focus ~ .checkbox__icon {
    box-shadow: 0 0 0 0.1em #19d228;
}

.checkbox__icon {
    width: 1em;
    height: 1em;
    top: 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #2196f3;
    position: absolute;
    left: 0;
}

/* Radio */

.radio {
    position: relative;
    padding-left: 1.2em;
    min-height: 1em;
    margin-bottom: 0.5em;
}

.radio__input {
    vertical-align: middle;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.radio__text {
    vertical-align: bottom;
}

.radio__icon {
    width: 1em;
    height: 1em;
    top: 0;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #2196f3;
    position: absolute;
    left: 0;
}

.radio__icon::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #fff;
    border-radius: 50%;
    transition-duration: 0.1s;
}



.radio__input:checked ~ .radio__icon {
    background-color: #2196f3;
}

.radio__input:checked ~ .radio__icon::before {
    width: 0.5em;
    height: 0.5em;
}

.radio__input:focus ~ .radio__icon {
    box-shadow: 0 0 0 0.1em #19d228;
}
